DB_NAME=proco726_cpvl
DB_PASSWORD=
DB_USER=proco726_cpvl
DB_PORT=3306
DB_HOST=localhost
PASSPORT_SECRET=
TOKEN_NAME=token
PORT=8000
FRONT_URL=

# SMTP Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=false
